:root {
    --color-red-primary: hsl(4, 100%, 67%);
    --color-grey-darker: hsl(234, 29%, 20%);
    --color-grey-dark: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
    --ff-primary: 'Roboto', sans-serif;
    --fw-primary: 400;
    --fw-bold: 700;
}
*, *::before, *::after {
    box-sizing: border-box;
}
body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-primary);
}
.container {
    width: min(90%, 1200px);
    margin: 0 auto;
}
.hidden {
    display: none;
}